src/FnacApiClient/Resources/xsd/base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fnac.com/schemas/mp-dialog.xsd" elementFormDefault="qualified" xmlns="http://www.fnac.com/schemas/mp-dialog.xsd" xmlns:mstns="http://www.fnac.com/schemas/mp-dialog.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="state.xsd"/>

<!-- Base types -->

  <!-- REQUEST HEADER -->
  <xs:attributeGroup name="request_header">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Defines the header mandatory for all requests]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="partner_id" type="uuid" use="required">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[Identifier of the offers supplier, generated when the partner registers with Fnac.com]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="shop_id" type="uuid" use="required">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[Shop Id, Fnac.com's customer id of the specified seller]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="token" type="uuid" use="optional">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[Token generated by the authentication process]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="key" type="uuid" use="optional">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[Partner authentication key (string)]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <!-- BASE REQUEST HEADER -->
  <xs:complexType name="base_request">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Base class for all requests (except authentication), forces the use of the request header]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="request_header">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The mandatory request header for authentication]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>

  <!-- BASE RESPONSE HEADER -->
  <xs:complexType name="base_response">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Base class for all service responses]]>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="status" type="status_code" use="required">
      <xs:annotation>
        <xs:documentation>
          <![CDATA[The overall process result]]>
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>